/output_videos/
/output_videos/output_10-21-21_16-51-32/
/output_videos/output_10-21-21_17-11-19.000/
/output_videos/output_10-22-21_09-26-57.000/
/output_videos/output_10-22-21_09-43-45.000/
/learning/
/learning/__init__.py
/learning/model.eh
/learning/model.py
/videos_robert_station/
/videos_sapir_station/
